/* phones 599px below */
body {
    margin: 0;
    padding: 0;
    background-color: #abaaaa;
}

#top-image {
    height: 250px;
    width: 100%;
    position: relative;
}

#top-image::before {
    content: "";
    background-image: url("./assets/images/woods.jpg");
    background-size: cover; /* fits the background image without repeating */
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 75%;
}

#top-section {
    position: absolute;
    left: 25px;
    height: 250px;
}

.general-font {
    font-family: 'IM Fell DW Pica', serif;
    color: white;
}

.secondary-font {
    font-family: 'IM Fell DW Pica SC', serif;
}

.italicized {
    font-style: italic;
}

.header-1 {
    font-weight: normal;
    font-size: 1.5rem;
}

sup {
    font-size: small;
}

.header-2 {
    font-size: 3rem;
}

.h-footer {
    position: relative;
    top: -15px;  
    font-size: x-small;
}

.body-img {
    height: 275px;
    padding-top: 45px;
}

.icons {
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
}

.card {
    width: 85%;
    margin-left: 8%;
    color: black;
    text-align: center;
    font-size: 1.2rem;
}

.left p.secondary-font {
    font-size: 1.5rem;
    font-weight: bold;
}

.links {
    margin-bottom: 10px;
}

.b-footer {
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
}

/* for large screen phones/tablet */
@media (min-width: 768px) {
    .body-img {
        padding: 0;
        height: 200px;
        float: left;
        margin-right: 15px;
    }

    .card {
        width: 95%;
        margin-left: 2.5%;
        text-align: justify;
        font-size: 1.1rem;

        position: relative;
        top: 20px;
    }

    .right {
        float: left;
        top: 55px;
    }

    .left p.secondary-font {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 16px;
    }

    .links {
        display: inline-block;
    }

    .icons {
        height: 30px;
        padding-right: 8px;
        padding-left: 8px;
    }

    .icon-group {
        display: inline-block;
        position: relative;
        top: 10px;
        left: 8px;
    }

    .b-footer {
        width: 95%;
        margin-left: 2.5%;
        position: relative;
        top: 95px;
        text-align: right;
    }
}

/* for large laptops/desktops */
@media (min-width: 1200px) {
    #top-image {
        height: 375px;
    }

    #top-image::before {
        height: 375px;
    }

    .header-1 {
        font-size: 2rem;
    }

    .header-2 {
        font-size: 5rem;
    }

    .h-footer {
        top: -35px;
    }

    .body-img {
        margin-right: 35px;
    }

    .card {
        width: 45%;
        top: 75px;
    }

    .left {
        float: left;
        margin-left: 35px;
    }

    .right {
        float: right;
        top: 75px;
        margin-right: 35px;
    }

    .left p.secondary-font {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0;
    }

    .b-footer {
        clear: both;
        top: 85px;
    }
}