body {
    margin: 0;
    padding: 0;
    background-color: #abaaaa;
}

#top-section {
    height: 375px;
    width: 100%;
}

#top-section::before {
    content: "";
    background-image: url("./assets/images/woods.jpg");
    height: 375px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 75%;
}

.font1 {
    font-family: 'IM Fell DW Pica', serif;
    color: white;
}

.font2 {
    font-family: 'IM Fell DW Pica SC', serif;
    color: #000000;
}

.font3 {
    font-family: 'IM Fell DW Pica', serif;
    color: #202020;
}

#top-content {
    position: absolute;
    top: 5px;
    left: 35px;
}

.top-h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
}

.top-h1 {
    font-size: 5rem;
    margin-bottom: 0;
}

.top-footer {
    font-size: x-small;
    margin-top: 20px;
}

#head-i {
    font-style: italic;
}

sup {
    font-size: small;
}

.card {
    display: inline-block;
    width: 45%;
    position: relative;
    top: 80px;
}

.mid-img {
    height: 200px;
    margin-right: 35px;
    float: left;
}

.left {
    float: left;
    margin-left: 35px;
}

.right {
    float: right;
    margin-right: 35px;
}

.left-t {
    font-size: 1.5rem;
    font-weight: bold;
}

.text {
    font-size: 1.2rem;
    font-weight: normal;
}

.link-left {
    position: absolute;
    left: 235px;
    height: 25px;
    width: 300px;
}

.label1 {
    display: inline;
    position: relative;
    bottom: 6px;
    font-size: 1rem;
}

.icons {
    height: 25px;
    margin-left: 10px;
}

.link-right {
    position: absolute;
    left: 390px;
    top: 170px;
}

.bot-footer {
    clear: both;
    text-align: right;
    margin-right: 35px;
    position: relative;
    top: 135px;
    font-style: italic;
}

/* for large screens */
@media (min-width: 1601px) {
    .card {
        display: block;
        width: 65%;
        position: relative;
        top: 75px;
    }

    .right {
        float: left;
        margin-top: 45px;
        margin-left: 35px;
    }

    .link-right {
        position: absolute;
        left: 390px;
        top: 90px;
    }
}

/* for regular laptops below */
@media (max-width: 1440px) and (min-width: 1201px) {
    .card {
        display: block;
        width: 90%;
        left: 15px;
        top: 45px;
    }

    .right {
        float: left;
        left: 50px;
        top: 95px;
    }

    .link-right {
        top: 120px;
    }
}

@media (max-width: 1200px) and (min-width: 481px) {
    .card {
        display: block;
        width: 90%;
        left: 15px;
        top: 45px;
    }

    .right {
        float: left;
        left: 50px;
        top: 95px;
    }

    .link-right {
        top: 120px;
    }

    .top-h2 {
        font-size: 2rem;
        font-style: italic;
        font-weight: normal;
    }
    
    .top-h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .top-footer {
        margin-top: 60px;
    }
}

@media (max-width: 480px) and (min-width: 319px) {
    .top-h2 {
        font-size: 2rem;
        font-style: italic;
        font-weight: normal;
    }
    
    .top-h1 {
        font-size: 5rem;
        margin-bottom: 0;
    }

    p.font3.text {
        font-size: .6rem;
    }

    p.font3.text.label1 {
        font-size: 1rem;
    }

    .left-t {
        font-size: .8rem;
    }
    
    .link-right {
        top: 145px;
    }
}